<h1>Sign Up</h1>

<% if @errors %>
 <% @errors.each do |error|%>
    <div class="alert alert-info"><%= error %></div>
  <%end%>
<% end %>

<div class="container alert alert-success">
  <%= bootstrap_form_for(@user, label_col: "col", control_col: "col-sm-10") do |f| %>
    <div class="form-row">
      <div class="col">
        <%= f.text_field :first_name %> 
      </div>

      <div class="form-group col-md-6">
        <%= f.text_field :last_name %>
      </div>

      <div class="form-group col-md-6">
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
    <%= f.password_field :password %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Sign Up!", class: "btn btn-primary" %>
      </div>

    </div>
  <%end%>
</div>
