<div class="container alert alert-success">
  <%= bootstrap_form_for(@event, label_col: "col", control_col: "col-sm-10") do |f| %>
    <div class="form-row">
      <div class="col">
        <%= f.text_field :title %> 
      </div>

      <div class="form-group col-md-6">
        <%= f.text_field :description %>
      </div>

      <div class="form-group col-md-6">
        <%= f.text_field :address %>
      </div>

      <div class="form-group">
        <%= f.datetime_select :date,{start_day: Date.today, start_year: Date.today.year, minute_step: 15, ampm: true} %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Edit Event", class: "btn btn-primary" %>
      </div>

    </div>
  <%end%>
</div>