<h1>Welcome <%=@current_user.first_name%> </h1>

<hr>

<%=render "/quotes/quote" %>

<hr>

<h3>Your Events </h3>

 <div class="list-group">
   <% @events.each do |event| %>
      <%= link_to(event, class: "list-group-item list-group-item-action") do  %>  
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= event.title %></h5>
      <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1"><%= event.date.strftime("%A, %B %d") %></p>
      <% end %>
   <%end%>
</div>


<hr>

<p> <%= render "form" %> </p>

<hr>

<h4>Category Filter</h4>

<p> 
   <%= form_tag(events_path, method: :get) do %> 
      <%= collection_select :event, :category_ids, Category.all, :id, :name %>
      <%# <%= date_select(:search, params[:search]) %> 
      <%= submit_tag ("Search") %>
   <%end%>

   <%= form_tag(events_path, method: :get) do%>
      <%= select_year(Date.today, {:prompt => "Year",:start_year => DateTime.now.year,:end_year => DateTime.now.year + 7, prefix: 'select'},{:field_name => 'year', :id => 'start-year'}) %>
      <%= select_month(Date.today, {:prompt => "month",use_short_month: true, prefix: 'select'},{:field_name => 'month', :id => 'start-month'}) %>
      <%= submit_tag("Search by Date", :id=>"button", :class=>"Test", :name=>"submit") %>
   <%end%>
</p>


