<div class="container mt-4">
<h1>Welcome <%=@current_user.first_name%> </h1>

<hr>
  <section class="component">
    
<blockquote class="callout quote EN">
   <%=render "/quotes/quote" %>
  </blockquote>




<h2>Your Events </h2>

 <div class="list-group mt-4">
   <% @events.each do |event| %>
      <%= link_to(event, class: "list-group-item list-group-item-action") do  %>  
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= event.title.capitalize %></h5>
      <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1"><%= event.date.strftime("%A, %B %d") %></p>
      <% end %>
   <%end%>
</div>




<div class="row mt-4" > <%= render "form" %> </div>



<h3>Category Filter</h3>

<div class="form-group">
   <%= form_tag(events_path, method: :get) do %> 
      <%= collection_select :event, :category_ids, Category.all, :id, :name, :class => "form-control"  %>
      <%# <%= date_select(:search, params[:search]) %> 
      <%= submit_tag ("Search") %>
   <%end%>
</div>
<div class="form-group">
   <%= form_tag(events_path, method: :get) do%>
      <%= select_year(Date.today, {:prompt => "Year",:start_year => DateTime.now.year,:end_year => DateTime.now.year + 7, prefix: 'select'},{:field_name => 'year', :id => 'start-year', :class => "form-control"}) %>
      <%= select_month(Date.today, {:prompt => "month",use_short_month: true, prefix: 'select', :class => "form-control"},{:field_name => 'month', :id => 'start-month', :class => "form-control"} ) %>
      <%= submit_tag("Search by Date", :id=>"button", :class=>"btn btn-primary", :name=>"submit") %>
   <%end%>
</div>
</div>


